# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
HackerRanck.iml
out/
.idea/*
git rm --cached --force .idea/vcs.xml
git rm --cached --force .gitignore
hackerrank/build/
hackerrank/src/main/resources/
hackerrank/src/test/
